<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-3">
    <h2>会員編集画面</h2>

      <%= form_for(@member, url:admins_member_path) do |f| %>
      <table class="table table-hover table-inverse">
        <tr>
          <td><%= f.label :会員id %>
              <%= @member.id %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :氏名　　%>
              <%= f.text_field :last_name %>
              <%= f.text_field :first_name %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :フリガナ %>
              <%= f.text_field :last_name_phonetic %>
              <%= f.text_field :first_name_phonetic %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :郵便番号 %>
              <%= f.text_field :postcode %>
          </td>
        </tr>
        <tr>
          <td>
              <%= f.label :住所　　%>
              <%= f.text_field :address %>
          </td>
        </tr>
        <tr>
          <td>
              <%= f.label :電話番号 %>
              <%= f.text_field :telephone_number %>
          </td>
        </tr>
        <tr>
          <td>
              <%= f.label :メールアドレス %>
              <%= f.email_field :email %>
          </td>
        </tr>
        <tr>
          <td>
            <label><%= f.radio_button :is_deleted, "有効" ,checked: "checked"%> 有効 </label>
            <label><%= f.radio_button :is_deleted, "退会済み" %> 退会済み</label>
          </td>
        </tr>
      </div>
      </table>
          <%= f.submit "変更を保存する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  </div>
</div>