<h3 style="margin-left: 300px;">管理者ログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="log_in_area" style="margin: 30px 400px">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="log_in_area" style="margin: 30px 400px">
        <%= f.label :password, 'パスワード　　' %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="log_in_area" style="margin-left: 500px">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
<% end %>

