<div class="new_order_area" style="margin-top: 100px;">
	<h2>注文情報入力</h2>

	<%= form_for @order, url:member_orders_confirm_path, method: :post do |f| %>
	<h4>支払い方法</h4>
	<%= f.radio_button :payment_method, 1, checked: true %><h4>クレジットカード</h4><br>
	<%= f.radio_button :payment_method, 2 %><h4>銀行振り込み</h4>
	<h4>お届け先</h4>
	<%= f.radio_button :address_number, 1, checked: true %><h4>ご自身の住所</h4>
	<%= current_member.postcode %><%= current_member.address %><%= current_member.last_name %><%= current_member.first_name %>
	<%= f.radio_button :address_number, 2 %><h4>登録済み住所から選択</h4>
    <% end %>
<div class="new_order_area" style="margin: 100px 0px 0px 100px;">
  <div class="container">
  	<div class="row">
    	<strong style="font-size: 40px;">注文情報入力</strong>

    	<%= form_with(model: @order, local: true, url: member_orders_confirm_path, method: :post) do |f| %>
    	<div class="col-xs-6">
    	  <h2>支払い方法</h2>
        	<table class="table table-bordered">
            	 <tr>
            	 	<th><%= f.radio_button :payment_method, 0, checked: "checked" %><span>クレジットカード</span></th>
                 </tr>
                 <tr>
                	<th><%= f.radio_button :payment_method, 1 %><span>銀行振り込み</span></th>
                 </tr>
            </table>
        </div>

        <div class="col-xs-8">
          <h2>お届け先</h2>
            <table class="table table-bordered">
            	<tr>
            		<th><%= f.radio_button :address_number, 0, checked:true %><span>ご自身の住所</span></th>
                    <th>〒<%= current_member.postcode %><%= current_member.address %><br><%= current_member.last_name %><%= current_member.first_name %></th>
            	</tr>
            </table>
        </div>

        <div class="col-xs-8">
            <table class="table table-bordered">
            	<tr>
            		<th><%= f.radio_button :address_number, 1 %><span>登録済み住所から選択</span></th>
        	        <th><%= f.collection_select(:shipping, @shippings, :id, :full_member_address)%></th>
            	</tr>
            </table>
        </div>

        <div class="col-xs-9">
            <table class="table table-bordered">
            	<tr>
            		<th><%= f.radio_button :address_number, 2 %><span>新しいお届け先</span></th>
            		<th><%= f.label :postcode, '郵便番号' %><span><%= f.text_field :postcode, autocomplete: 'postcode'%></span></th>
        	        <th><%= f.label :address, '住所' %><span><%= f.text_field :address, autocomplete: 'address' %></span></th>
        	        <th><%= f.label :name, '宛名' %><span><%= f.text_field :name, autocomplete: 'name' %></span></th>
            	</tr>
            </table>
                    <%= f.submit '確認画面へ進む', class: "btn btn-success text-cenrer" %>
        </div>
    	<% end %>
   </div>
  </div>
</div>