<div class="col-xs-8">
 <h2><%= @title %>一覧</h2>

<%= render "share/sidebar"%>
 	<% @products.each do |product| %>

       <%= link_to member_product_path(product) do %>
       <div style="float: left">

       </style>
           <%= image_tag'nagano.jpg',  size: '170x170' %>
            <P><%= product.name %></P>
           <P>金額<%= (product.price* 1.1).round %>円(税込）</P>
       </div>
        <%end%>
       <%end%>
</div>