<div class="col-xs-8">
 <h2><%= @title %>一覧</h2>

<%= render "share/sidebar"%>
 	<% @products.each do |product| %>

       <%= link_to member_product_path(product) do %>
       <div style="float: left">

       </style>
        	<%= attachment_image_tag product, :image, size: "200x200", fallback: "no_image.jpg"%>
            <P><%= product.name %></P>
           　<P>金額<%= (product.price* 1.1).round %>円(税込）</P>
       </div>
        <%end%>
       <%end%>
</div>