<div class="container">
	<div class="row">
		    <div class="col-xs-2">
		       <%= render "share/sidebar", genres: @genres %>
		    </div>
		<div class="col-xs-10">
		    <h2 style="font-family: HiraMinPro-W6;"><%= @title %>一覧</h2>
				<% @products.each do |product| %>
				<div class="col-xs-3">
                <%= link_to member_product_path(product) do %>
				<p class="card-img-top"><%= attachment_image_tag product, :image, :fill, 100, 100, fallback:  "no_image.jpg"%></p>
				<p class="card-title"><%= product.name %></p>
				<p class="card-title">¥<%= product.price %></税込み)</p>
				</div>
		        <% end %>
			    <% end %>
		</div>
	</div>
</div>
