<div class="row">
<h2><%= @title %>一覧</h2>
<div class="col-xs-3">
<%= render "share/sidebar", genres: @genres %>
</div>
<div class="col-xs-9">
<% @products.each do |product| %>

<%= link_to member_product_path(product) do %>

<%= attachment_image_tag product, :image, fallback: "no_image.jpg"%>
<p><%= product.name %></p>
<p>¥<%= product.price %></税込み)</p>

<% end %>
<% end %>
</div>
</div>
