<div class="container">
	<h2>商品詳細</h2>
	<div class="row">
	<div class="col-xs-4">
		<%= attachment_image_tag @product, :image, size: "200x200", fallback: "no_image.jpg"%>
	</div>
	<div class="col-xs-8">
		<dix>
		<h3><%= @product.name %></h3>
		</dix>
		<dix>
		<p><%= @product.explanatory %></p>
		</dix>
		<dix>
		<h3><%= (@product.price* 1.1).round %>(税込み)</h3>
		</dix>
	</div>
	<%= form_for(@cart_item, url: member_cart_items_path(@cart_item)) do |f| %>
	<%= f.hidden_field :product_id, :value => @product.id %>
	 <%= f.number_field :number , placeholder: "個数選択" %>
	 <%= f.submit "カートに入れる" ,class: 'btn btn-primary' %>
	 <% end %>
	</div>
</div>