<div class="container">
 <h2>商品一覧</h2>
 <table class="table table-hover">
 	<thead>
 		<tr class="active">
 			 <th class="col-xs-2">商品id</th>
 			 <th class="col-xs-3">商品名</th>
 			 <th class="col-xs-2">税抜き価格</th>
 			 <th class="col-xs-3">ジャンル</th>
 			 <th class="col-xs-2">ステータス</th>
 		</tr>
 	</thead>
 	<tbody>
 		<% @products.each do |product| %>
 		<tr>
 			 <td><%= product.id %></td>
 			 <td><%= link_to product.name, admins_product_path(product) %></td>
 			 <td><%= product.price %></td>
 			 <td><%= product.genre_id %></td>
 			 <td><%= product.is_capable %></td>
 		</tr>
 		<% end %>
 	</tbody>
 </table>
</div>