<div class="container">
	<h2>商品詳細</h2>
	<div class="row">
		<div class="col-xs-8">
		<p>商品名</p>
		<p><%= @product.name %></p>
		</dix>
		<div class="col-xs-8">
		<p>商品説明</p>
		<p><%= @product.explanatory %></p>
		</div>
		<div>
		<p>ジャンル</p>
		<p><%= @product.genre.name %></p>
		</dix>
		<div>
		<p>税抜き価格</p>
		<p><%= @product.price %></p>
		</dix>
	</div>
	<%= link_to "編集する", edit_admins_product_path(@product) %>
</div>