<div class="container">
	<h2>注文履歴詳細</h2>
	<div class="row">
		<div>
			<p>購入者</p>
			<p><%= @order.member.last_name %></p>
		</div>
		<div>
			<p>配送先</p>
			<p><%= @order.address %></p>
		</div>
		<div>
			<p>支払方法</p>
			<p><%= @order.payment_method %></p>
		</div>
		<div>
			<p>注文ステータス</p>
			<%= form_for @order, url: admins_order_path do |f| %>
			<%= f.select :order_status,["入金待ち","入金確認","製作中","発送準備中","発送済"] %>
			<%= f.submit "更新" ,class: "btn btn-primary btn-sm" %>
			<% end %>
		</div>
	</div>
	<div class="row">
		 <table class="table table-hover">
 	<thead>
 		<tr class="active">
 			 <th>商品名</th>
 			 <th>単価（税込）</th>
 			 <th>数量</th>
 			 <th>小計</th>
 			 <th>制作ステータス</th>
 			 <th></th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr>
 			 <td><%= @order.order_detail.product.name %></td>
 			 <td><%= @order.order_detail.product.price %></td>
 			 <td><%= @order.order_detail.number %></td>
 			 <td><%= @order.order_detail.product.price %></td>
 			 <%= form_for @order_detail, url: admins_order_detail_path do |f| %>
 			 <td><%= f.select :work_status,["着手不可","製作待ち","製作中","製作完了"] %>
 			 	</td>
 			 <td><%= f.submit "更新" ,class:"btn btn-primary btn-xs" %></td>
 			 <% end %>
 		</tr>
 		<% end %>
 	</tbody>
 </table>
	</div>
</div>