<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- menberログイン時 -->
    <% if member_signed_in? %>
      <%= render 'share/member-header' %>
    <!-- adminログイン時 -->
    <% elsif admin_signed_in? %>
      <%= render 'share/admin-header' %>
    <!-- ゲストログイン時 -->
    <% else %>
      <%= render'share/gest-header' %>
    <% end %>

    <%= yield %>
  </body>
  <footer class="navbar navbar-fixed-bottom navbar-inverse">

  </footer>
</html>
